<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<style>
* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 20px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
</head>
<body>
  <h1>Analysis</h1>

<div class="row">
  <div class="column" style="background-color:#aaa;">
      Here is the text you input:

    <p>{{ input_text | safe }}</p>
  </div>
  <div class="column" style="background-color:#bbb;">
    <h2>Column 2</h2>
    Here are some problematic words:

    <table class='table'>
        <thead>
            <tr>
                <th>
                    highlighted word
                </th>
                <th>
                    suggested replacement
                </th>
                <th>
                    reasoning
                </th>
            </tr>
        </thead>
    {% for key, value in output_dict.items %}
        <tr>
            <td>
                {{ value.0.0.key }}
            </td>
            <td>
                {{ value.0.0.suggestions }}
            </td>
            <td>
                {{ value.0.0.reason }}
            </td>
        </tr>
    {% endfor %}
    </table>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
</script>
</body>
</html>
